header,
main,
footer {
  margin: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  i {
    cursor: pointer;
    margin: 0 5px;
  }
}
