.stateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
  $width: 70px;
  width: $width;
  margin: 0 calc((100px - $width) / 2);
  i {
    padding-left: 5px;
  }
  &.play {
    color: #69b2fe;
  }
  &.stop {
    color: #f56c6c;
  }
  &:hover {
    border-bottom: 1px solid;
  }
}
