.stateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
  width: 65px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  i {
    padding-left: 5px;
  }
  &.play {
    color: $btn-color;
  }
  &.stop {
    color: $btn-error-color;
  }
  &:hover {
    border-bottom: 1px solid;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px 20px;
}
