.container {
  height: 100%;
  $footer_h: 30px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 15px 15px 0;
    font-size: 17px;
  }
  main {
    margin: 15px;
    &::after {
      content: '';
      position: relative;
      width: 100%;
      height: $footer_h;
      display: inline-block;
    }
  }
  footer {
    padding: 0 15px;
    height: $footer_h;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    text-align: right;
    i {
      cursor: pointer;
      margin: 0 5px;
      line-height: $footer_h + 5;
      &:hover {
        color: $btn-color;
      }
    }
  }
}
