.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 15px 15px 0;
    font-size: 17px;
  }
  main {
    margin: 15px;
    flex: 1;
  }
  footer {
    margin: 0 15px 15px;
    height: 25px;
    i {
      cursor: pointer;
      margin: 0 5px;
      &:hover {
        color: $btn-color;
      }
    }
  }
}
